<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/style.css">

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>

<header class="header-profile">
    <div class="header-nav">
        <a href="../views/feed.html">
            <ion-icon    name="home-outline"></ion-icon>
        </a>
        <a href="../views/post.html">
            <ion-icon name="add-outline"></ion-icon>
        </a>
        <a href="../views/login.html">
            <ion-icon class="active" name="person-outline"></ion-icon>
        </a>
    </div>
</header>

<body>
    <main class="login-main">
        <img class="login-logo" src="../assets/imgs/Logo.png" alt="">
        <form action="">
            <input type="text" placeholder="Email ou usuario" class="textbox">
            <input type="password" placeholder="Senha" class="textbox">
            <a href="../views/profile.html"><button class="btn"> Entrar</a></button>
        </form>
        <p>Não possui uma conta? <a href="../views/signin.html">Cadastre-se.</a></p>
    </main>
    <footer>
        <a href="../views/feed.html">
            <ion-icon name="home-outline"></ion-icon>
        </a>
        <a href="../views/post.html">
            <ion-icon name="add-outline"></ion-icon>
        </a>
        <a href="../views/login.html">
            <ion-icon  class="active"  name="person-outline"></ion-icon>
        </a>
    </footer>
</body>


</html>