<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/assests/css/reset.css">
    <link rel="stylesheet" href="/assests/css/style.css">
</head>
<body>
    <main class="flex-column-center mt-25vh">
        <img class="m-20" src="../assests/imgs/LOGO.png" alt="logo">

        <form class="flex-column-center w-80" action="">
            <input class="textbox w-80 m-5" type="email" placeholder="Email" name="email">
            <input class="textbox w-80 m-5" type="password" placeholder="Senha" name="password">
            <input class="textbox btn w-80 m-20" type="submit" class="btn" value="Entrar">
        </form>

        <h4 class="m-20">Não tem uma conta?<a href="registro.html"> Cadastre-se.</a> </h4>
    </main>
</body>
</html>