<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="/assets/js/footer.js"></script>
</head>

<body>

    <main class="p-main">

        <section class="p-container">
            <img class="p-icon" src="/assets/imgs/icon.jpg" alt="icone do perfil">
            <h4>@nomeUser</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam temporibus, recusandae quibusdam amet.

            </p>
        </section>

        <section class="p-img-container">
            <img src="https://picsum.photos/300/200?random=1"
                alt="img1">
            <img src="https://picsum.photos/300/200?random=2"
                alt="img2">
            <img src="https://picsum.photos/300/200?random=3"
                alt="img3">
            <img src="https://picsum.photos/300/200?random=4"
                alt="img4">
            <img src="https://picsum.photos/300/200?random=5"
                alt="img5">
            <img src="https://picsum.photos/300/200?random=6"
                alt="img6">
            <img src="https://picsum.photos/300/200?random=7"
                alt="img7">
            <img src="https://picsum.photos/300/200?random=8"
                alt="img8">
        </section>

        <footer class="footer-nav">
            <ul>
                <li class="list ">
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="text">Home</span>
                    </a>
                </li>
                <li class="list">
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="add-outline"></ion-icon>
                        </span>
                        <span class="text">Add</span>
                    </a>
                </li>
                <li class="list active">
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="person-outline"></ion-icon>
                        </span>
                        <span class="text">Profile</span>
                    </a>
                </li>
                <div class="indicator"></div>
            </ul>
        </footer>

    </main>
</body>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</html>