@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}


header {
    display: flex;
    position: fixed;
    height: 45px;
    align-items: center;
    background: #fff;
    width: 100%;
    top: 0;
}

header img {
    margin-left: 18px;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: #fff;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: black;
    text-decoration: none;
    font-size: 25px;
}

footer a .active {
    color: #4ccc77;
}

.textbox {
    width: 100%;
    background: #E0E0E0;
    border: none;
    box-shadow: 0px 4px 4px #00000040;
    border-radius: 10px;
    padding: 10px;
}

.btn {
    width: 100%;

    background: #828282;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 10px;

}

/* FEED */

.feed-main {
    margin: 45px 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.feed-imgs-group {
    width: 45%;
    margin: 4px;
}

.feed-imgs-group img {
    width: 100%;
    margin: 4px;
    border-radius: 8px;
}

/* LOGIN/REGISTRO */

.login-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
    margin-top: 20vh;
}

.login-main form {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-main form .btn,
.login-main form .textbox {
    margin-bottom: 12px;
}

.login-logo {
    margin-bottom: 24px;
    width: 30%;
}

/* perfil */

.profile-main {
    margin-bottom: 50px;
}

.profile-bg {
    top: 0;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 150px;
    background: linear-gradient(to bottom, #e09999, #8383e0, #87eb9d);
}

.profile-content {
    margin-top: 100px;
    width: 100%;
    background: #D9D9D9;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-info-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -50px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 16px;
}

.profile-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #5a0f0f;
    border: 2px solid black;
    margin-bottom: 8px;
}

.profile-username {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

.profile-bio {
    text-align: center;
    font-size: 14px;
}

.profile-img-content {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.profile-img-content img {
    width: 48%;
    margin: 2px;
    border-radius: 8px;
    max-width: 400px;
}

/* post  */

.post-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.post-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}


.post-icon {
    font-size: 80px;
    transform: rotateZ(-8deg);
    margin-bottom: 12px;
}

.post-group p {
    font-size: 16px;
    margin-bottom: 12px;

}

.post-input {
    display: none;
}

.post-btn {
    box-sizing: border-box;

    width: 100%;
    height: 40px;

    background: #C4C4C4;
    border: 1px solid #828282;
    border-radius: 8px;
}

.post-preview-group {
    display: none;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.post-img-preview {
    max-width: 300px;
    border: 2px solid rgb(104, 102, 102);
    margin-bottom: 12px ;
    max-height: 300px;
}

a .post-preview-check-icon {
    color: black;
}

.post-desc {
    resize: none;
    height: 150px;
}


.post-preview-check-icon {
    font-size: 40px;
    align-self: flex-end;
    margin-right: 5%;
    position: absolute;
    right: 20px;
    bottom: 50px;
}


/* detailedPost */


.detailedPost-main{
    width: 100%;
    box-sizing: content-box;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detailedPost-desc{
    width: 95%;
    word-break: break-all;
    margin-top: 20px;
}

.detailedPost-back-icon{
    color: black;
}